.Login_main{
    height: auto;
    padding: 10px;
}

.Login_main>p{
font-weight: 500;
color: white;
background-color: black;
}

.Login-forms{

    p{
        margin-bottom: 5px;
    }
}